.env
*.js
!utils/swaggerDef.js

node_modules
.vscode

*.js.map
swagger*.json
swagger*.yml
coverage/
!jest.config.js

*.bat
dist/

# Private stuff
routes/shields.ts
server_private.ts
shields_data.json
