@font-face {
  font-family: 'ihaIcon';
  src:  url('/assets/fonts/ihaIcon.eot?lfi6fu');
  src:  url('/assets/fonts/ihaIcon.eot?lfi6fu#iefix') format('embedded-opentype'),
    url('/assets/fonts/ihaIcon.ttf?lfi6fu') format('truetype'),
    url('/assets/fonts/ihaIcon.woff?lfi6fu') format('woff'),
    url('/assets/fonts/ihaIcon.svg?lfi6fu#ihaIcon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="nico-"], [class*=" nico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ihaIcon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nico-bilibili:before {
  content: "\e901";
}
.nico-twitcasting:before {
  content: "\e902";
}
.nico-graphql:before {
  content: "\e900";
  color: #e10098;
}
.nico-users:before {
  content: "\e972";
}
.nico-lock:before {
  content: "\e98f";
}
.nico-play:before {
  content: "\ea1c";
}
.nico-youtube:before {
  content: "\ea9d";
}
.nico-twitch:before {
  content: "\ea9f";
}
